.newProduct {
    flex: 4;
}

.addProductForm {
    margin-top: 10px;
}

.addProductItem {
    width: 250px;
    display: flex;
    flex-direction: column;
   margin-bottom: 10px;
}

.addProductItem>label {
    margin-bottom: 10px;
    font-weight: 600;
    color: #808080;
}

.addProductItem>input {
    height: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    letter-spacing: 2px;
}

.addProductButton {
    width: 200px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    color: #f5f5f5;
    padding: 10px 20px;
    background-color: #00008b;
    cursor: pointer;
    transition: 0.7s;
}

.addProductButton:hover {
    background-color: #4646f0;
}