.userList {
    flex:  4;
}

.ListUser {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.userListImg {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.userListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: #ffffff;
  cursor: pointer;
  margin-right: 20px;
}

.userListDelete {
    cursor: pointer;
    color: #c90000;
}